<div>

    <h2>smells</h2>

    {% for smell in smells %}
        <div>{{ smell.origin }}: {{ smell.text }} ({{ smell.score }})</div>
        <div><pre>{{ smell.codeFragment }}</pre></div>
    {% endfor %}

</div>