/web/bundles/
/web/js/compiled/
/web/css/compiled/

/app/bootstrap.php.cache
/app/config/parameters.yml
/app/cache/*
/app/data/*
/app/logs/*

/build/
/vendor/
/bin/
/composer.phar
/.idea/*
/atlassian-ide-plugin.xml
