{% extends '::base.html.twig' %}

{% block body %}

<h1>Projects</h1>

{% for project in projects %}
    <div><a href="{{ url("code_project", {projectId: project.key}) }}">{{ project.name }}</a> ({{ project.repositoryConfig.type }})</div>
{% endfor %}

{% endblock %}