{% extends '::base.html.twig' %}

{% block body %}

    <div class="classname" style="margin-top: 10px;"><span class="badge badge-grade-{{ node.grade }}">{{ node.grade }}</span> {{ node.name }}</div>

    {% render url("classroom_node_metrics", { projectKey: project.key, nodeName: node.name }) %}

    {% if hasSmells %}

    <ul class="nav nav-tabs" id="projectTabs">
        <li class="active"><a href="#smells" data-toggle="tab">Smells</a></li>
        <li><a href="#annotations" data-toggle="tab">Annotated source</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="smells">{% render url("classroom_node_smells", {projectKey: project.key, nodeName: node.name}) %}</div>
        <div class="tab-pane" id="annotations">{% render url("classroom_node_annotations", {projectKey: project.key, nodeName: node.name}) %}</div>
    </div>

    {% endif %}

{% endblock %}
