{% extends '::base.html.twig' %}

{% block body %}

    <h1>Project {{ project.name }}</h1>

    <ul class="nav nav-tabs" id="projectTabs">
        <li class="active"><a href="#feed" data-toggle="tab">Feed</a></li>
        <li><a href="#classes" data-toggle="tab">Classes</a></li>
        <li><a href="#smells" data-toggle="tab">Smells</a></li>
    </ul>

    </h2>

    <div class="tab-content">
        <div class="tab-pane active" id="feed">{% render url("code_project_feed", {projectKey: project.key}) %}</div>
        <div class="tab-pane" id="classes">{% render url("code_project_classes", {projectKey: project.key}) %}</div>
        <div class="tab-pane" id="smells">{% render url("code_project_smells", {projectKey: project.key}) %}</div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('#projectTabs a:first').tab('show');
        })
    </script>
{% endblock %}